<ul>
  <li>
    <%= link_to t('.categories'), refinery.videos_admin_categories_path, :class => "go_icon" %>
  </li>
  <li>
    <%= link_to t('.videos'), refinery.videos_admin_videos_path, :class => "go_icon" %>
  </li>
</ul>
